:root {
  --color-very-dark-grayish-blue: rgb(72, 85, 106);
  --color-desaturated-dark-blue: rgb(109, 127, 151);
  --color-grayish-blue: rgb(158, 175, 194);
  --color-light-grayish-blue: rgb(236, 242, 248);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 81.25%;
}

body {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 100vh;
  margin: auto;
  padding: 20rem 22rem;
  background-color: var(--color-light-grayish-blue);
  font-family: "Manrope", sans-serif;
}

@media only screen and (max-width: 78.75em) {
  body {
    margin: 0 auto;
    width: auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 27rem 32.5rem;
  }
}

@media only screen and (max-width: 69em) {
  body {
    margin: 0 auto;
    width: auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 4rem 10rem;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 56rem;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 1rem;
  border-collapse: separate;
  overflow: visible;
  margin-left: 5rem;
  position: relative;
}

@media only screen and (max-width: 78.75em) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 35rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-left: -5rem;
  }
}

@media only screen and (max-width: 69em) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 27rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-left: 5rem;
  }
}

.card__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card__image--drawer {
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

@media only screen and (max-width: 78.75em) {
  .card__image--drawer {
    border-bottom-left-radius: 0rem;
  }
}

.card__text {
  margin-left: -5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #fff;
}

@media only screen and (min-width: 78.75em) {
  .card__text {
    padding: 3rem;
  }
}

@media only screen and (max-width: 78.75em) {
  .card__text {
    margin-left: auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}

@media only screen and (max-width: 69em) {
  .card__text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}

.card__text--heading {
  padding-bottom: 1.5rem;
  color: var(--color-very-dark-grayish-blue);
}

@media only screen and (max-width: 78.75em) {
  .card__text--heading {
    padding: 3rem 2.5rem 1.5rem 2.5rem;
  }
}

.card__text--description {
  padding-bottom: 1.5rem;
  color: var(--color-desaturated-dark-blue);
}

@media only screen and (max-width: 78.75em) {
  .card__text--description {
    padding: 0 2.5rem 2.5rem 2.5rem;
  }
}

.card__text--user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  overflow: visible;
}

@media only screen and (max-width: 78.75em) {
  .card__text--user {
    padding: 0 2.5rem 1.5rem 2.5rem;
  }
}

.card__text--user-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1rem;
}

.card__text--user-image {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.card__text--user-name {
  color: var(--color-very-dark-grayish-blue);
  font-weight: 700;
}

.card__text--user-date {
  color: var(--color-desaturated-dark-blue);
}

.card__text--user-share {
  padding: 1rem;
  border-radius: 100px;
  border: none;
  margin-left: auto;
  cursor: pointer;
}

.share__action {
  background-color: var(--color-very-dark-grayish-blue);
  padding: 1rem 3rem;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  position: absolute;
  top: -6rem;
  right: -8.25rem;
  /*  @media only screen and (min-width: $bp-largest) {
    position: fixed;
    margin-top: 165px;
    margin-left: 666px;
  } */
  /*   @media only screen and (max-width: $bp-largest) {
    width: 54rem;
    margin-left: 5rem;
  } */
}

@media only screen and (min-width: 78.75em) {
  .share__action::after {
    content: "";
    display: block;
    width: 3rem;
    height: 1.75rem;
    background-color: var(--color-very-dark-grayish-blue);
    position: absolute;
    top: 3rem;
    right: 8.25rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%, 50% 100%);
            clip-path: polygon(0 0, 100% 0, 50% 100%, 50% 100%);
  }
}

@media only screen and (max-width: 78.75em) {
  .share__action {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 35rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-left: -5rem;
    top: 5.5rem;
    left: 2.5rem;
  }
}

@media only screen and (max-width: 69em) {
  .share__action {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 27rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-left: 5rem;
    top: 5rem;
    left: -7.5rem;
  }
}

.share__action--text {
  text-transform: uppercase;
  margin-right: 1rem;
  letter-spacing: 0.5rem;
  color: var(--color-grayish-blue);
}

.share__action--fb {
  background: transparent;
  border: none;
  margin-right: 1rem;
}

.share__action--tw {
  background: transparent;
  border: none;
  margin-right: 1rem;
}

.share__action--pt {
  background: transparent;
  border: none;
  margin-right: 1rem;
}

@media only screen and (min-width: 78.75em) {
  .appear {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mobile__action {
  background-color: var(--color-very-dark-grayish-blue);
  padding: 1rem 2rem;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

@media only screen and (max-width: 78.75em) {
  .mobile__action {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media only screen and (max-width: 69em) {
  .mobile__action {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.mobile__action--text {
  text-transform: uppercase;
  margin-right: 1rem;
  letter-spacing: 0.5rem;
  color: var(--color-grayish-blue);
}

.mobile__action--fb {
  background: transparent;
  border: none;
  margin-right: 1rem;
}

.mobile__action--tw {
  background: transparent;
  border: none;
  margin-right: 1rem;
}

.mobile__action--pt {
  background: transparent;
  border: none;
  margin-right: 1rem;
}

.mobile__action--share {
  padding: 1rem;
  border-radius: 100px;
  border: none;
  margin-left: auto;
  cursor: pointer;
}

.mobile__action--share-btn {
  fill: #ffffff;
}

.attribution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
  letter-spacing: 0.2rem;
  color: var(--color-grayish-blue);
}

.attribution__sent:link, .attribution__sent:visited {
  color: var(--color-desaturated-dark-blue);
  text-decoration: none;
  margin-left: 0.3rem;
}

@media only screen and (max-width: 78.75em) {
  .attribution {
    width: 35rem;
    margin-left: -5rem;
  }
}

@media only screen and (max-width: 69em) {
  .attribution {
    width: 27rem;
    margin-left: 5rem;
  }
}
/*# sourceMappingURL=main.css.map */